<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.two_man.setmaster" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".ui.app.App">
        <activity
            android:name=".ui.screen.splash.SplashActivity"
            android:label="Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.screen.main.MainActivity"
            android:label="Main"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screen.editprofile.EditProfileActivity"
            android:label="EditProfile"
            android:screenOrientation="portrait">
        </activity>
        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c3128b2f54e4a39ddd84710f31a7cb595f71e3ef" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
